$div_color: #353535;

html, body {
    height: 100%;
    width: auto;
}

.item-grid, .output-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.items, .output-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $div_color;
    font-size: 13px;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.output-total {
    font-weight: bold;
    font-size: 14px;
}

hr {
    color: #fff;
    width: 20px;
}

.update {
    color: $div_color;
    background-color: #fff;
    border: 1px solid black;
    height: 30px;
    width: 150px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 13px;
}