$navbar_color: #353535;
$background_color: #607D8B;

.topnav {
    background-color: $navbar_color;
    overflow: hidden;
}

.topnav .to-home {
    float: left;
    display: block;
    color: $navbar_color;
    background-color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    font-weight: bold;
}

.topnav .to-home:hover {
    background: #ccc;
}

.topnav .to-home.active {
    background-color: #fff;
    color: $navbar_color;
}

.topnav .search-container {
    float: right;
}

.topnav input {
    padding: 6px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 3px;
}

.topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav .to-home, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }