$background_color: #607D8B;

html, body {
    height: 100%;
    margin: 0;
    background-color: $background_color;
    /*overflow: hidden; */
}

.Home {
  overflow: hidden;
}

.warn-msg {
  color: #F44336;
  font-size: 11px;
  font-weight: bold;
}

.search-form input{
  border-radius: 4px;
  background-color: #fff;
  color: #353535;
  width: 250px;
  font-weight: bold;
  height: 30px;
  border: none;
}

.search-form button {
  height: 32px;
  border-radius: 4px;
  margin-left: 3px;
  border: none;
  width: 35px;
}

.intro {
  margin-top: 60px;
}

.intro h1 {
  font-weight: bold;
  font-family: 'Coda Caption', sans-serif;
  font-size: 40px;
  line-height: 5px;
}

.intro h3{
  font-family: 'Yellowtail', cursive;
}